.container{
    background-color:#D0D2D2; 
    padding-top:5%;
 }
.logo{
    color: darkorange;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1.5cm;
 }
 .nav-links{
     
    display: flex;
    justify-content: space-around;
    width: 50%; 
 }
 .nav-links li{
    list-style: none;
   
 }
 .nav-links a{
    color:rgb(255, 84, 16);
    text-decoration: none; 
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    background-color: antiquewhite;
 }

 

 nav{
    display:flex; 
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
 }
  

#holi{
    padding-left: 32%;
    
}
#botons{
    padding-top: 13%;
    padding-left: 46%;
}
#bton{
    height: 30px;
}
#txt{
    text-align: center;
}
#pos{
color: rgb(255, 255, 255);
font-size: 0.8cm;
padding-top: 25%;
font-family: sans-serif;

}

#resultado{
    height: 1153px;
    width: 1150px;
    

}